{% extends "base.html" %}
{% block title %}Bank Statement Converter - Privacy{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h1 class="text-center text-purple mb-4">{{ text['privacy_policy'] }}</h1>
                    <p class="text-muted text-center mb-5">{{ text['last_updated'] }}</p>
                    
                    <div class="mb-5">
                        <h2 class="h4 mb-3">Introduction</h2>
                        <p>{{ text['introduction'] }}.</p>
                        <p>{{ text['consent'] }}.</p>
                    </div>
                    
                    <div class="mb-5">
                        <h2 class="h4 mb-3">{{ text['your_rights'] }}</h2>
                        <p>{{ text['your_rights_description'] }}:</p>
                        <ul>
                            <li>{{ text['rights'][0] }}</li>
                            <li>{{ text['rights'][1] }}</li>
                            <li>{{ text['rights'][2] }}</li>
                            <li>{{ text['rights'][3] }}</li>
                            <li>{{ text['rights'][4] }}</li>
                            <li>{{ text['rights'][5] }}</li>
                        </ul>
                        <p>{{ text['contact_rights'] }} <a href="mailto:support@bankstatementconverter.online">support@bankstatementconverter.online</a>.</p>
                    </div>
                    
                    <div>
                        <h2 class="h4 mb-3">{{ text['contact_us'] }}</h2>
                        <p>{{ text['contact_us_description'] }}:</p>
                        <p><a href="mailto:support@bankstatementconverter.online">support@bankstatementconverter.online</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
